package ${table.packageName}.model.${table.businessName}.resp;

import lombok.Data;

/**
 * ${table.tableComment}详情对象 resp
 * @author $!{table.author}
 * @since ${now}
#if(${table.classTail})
 * ${table.classTail}
#end
 **/
@Data
public class ${modelClassName}GetResp {

#foreach ($column in $columns)
    #if (${column.isUpdate})
    /**
     * ${column.javaComment}
     */
    private ${column.javaType.getValue()} ${column.javaField};

    #end
#end
}
