package ${table.packageName}.model.${table.businessName}.resp;

import lombok.Data;

import java.time.LocalDateTime;

/**
 * ${table.functionName}列表对象 resp
 * @author $!{table.author}
 * @since ${now}
#if(${table.classTail})
 * ${table.classTail}
#end
 **/
@Data
public class ${modelClassName}ListResp {

#foreach ($column in $columns)
    #if (${column.isList} || ${column.isPk})
    /**
     * ${column.javaComment}
     */
    private ${column.javaType.getValue()} ${column.javaField};

    #end
#end
}
