package ${table.packageName}.model.user.req;

import jakarta.validation.constraints.Email;
import jakarta.validation.constraints.NotBlank;
import jakarta.validation.constraints.NotEmpty;
import jakarta.validation.constraints.Size;
import lombok.Data;

/**
 * ${table.tableComment}列表对象 resp
 * @author $!{table.author}
 * @since ${now}
#if(${table.classTail})
 * ${table.classTail}
#end
 **/
@Data
public class ${modelTableName}ListResp {

#foreach ($column in $columns)
    /**
     * ${column.javaComment}
     */
    #if (${column.modelClassName.getValue()})
    private ${column.javaType.getValue()} ${column.javaField};
    #end

#end
}
