import { http } from "@/utils/http";
import { baseUrlApi } from "@/api/utils";

export interface ${modelClassName}Req {
#foreach ($column in $columns)
#if ($column.javaField == $table.switchField)
#set ($switchColumn = $column)
#end
#if (${column.isUpdate})
  ${column.javaField}: ${column.javaType.getVueType()};
#end
#end
}

#set ($businessName = ${StringUtils.replace(${table.businessName}, '.', '-')})
// 新增${table.functionName}
export const creating = (data: ${modelClassName}Req) => {
  return http.post(baseUrlApi("/${table.moduleName}/${businessName}"), { data });
};

#if ($primaryColumn.javaType.getValue() == 'Long' || $primaryColumn.javaType.getValue() == 'Integer')
    #set ($type = 'number')
#else
    #set ($type = 'string')
#end
// 删除${table.functionName}
export const deleting = (${primaryColumn.javaField}s: ${type}) => {
  return http.delete(baseUrlApi("/${table.moduleName}/${businessName}/" + ${primaryColumn.javaField}s));
};

#if (${table.isSwitch})
// ${table.functionName}状态切换
export const updateStatus = (${primaryColumn.javaField}: ${primaryColumn.javaType.getVueType()}, ${table.switchField}: ${switchColumn.javaType.getVueType()}) => {
  const data = {
    ${primaryColumn.javaField},
    ${table.switchField}
  };
  return http.put(baseUrlApi("/${table.moduleName}/${businessName}/update-status"), { data });
};

#end
// 修改${table.functionName}
export const updating = (data: ${modelClassName}Req) => {
  return http.put(baseUrlApi("/${table.moduleName}/${businessName}"), { data });
};

// 获取单条${table.functionName}信息
export const getting = (${primaryColumn.javaField}: ${type}) => {
  return http.get<${modelClassName}Req>(baseUrlApi("/${table.moduleName}/${businessName}/" + ${primaryColumn.javaField}));
};

// 获取${table.functionName}信息分页列表
export const paging = (params?: object) => {
  return http.get<${modelClassName}Req>(baseUrlApi("/${table.moduleName}/${businessName}/page"), { params });
};
