package ${table.packageName}.model.${table.businessName}.req;

import jakarta.validation.constraints.NotNull;
import lombok.Data;

/**
 * ${table.functionName}状态修改 req
 * @author $!{table.author}
 * @since ${now}
#if(${table.classTail})
 * ${table.classTail}
#end
 **/
@Data
public class ${modelClassName}UpdateStatusReq {

#foreach ($column in $columns)
    #if (${column.isPk} || ($column.javaField == $table.switchField))
    /**
     * ${column.javaComment}
     */
    @NotNull(message = "${column.javaComment}不能为空")
    private ${column.javaType.getValue()} ${column.javaField};

    #end
#end
}
