package ${table.packageName}.api.constant.${table.businessName};

import com.fasterxml.jackson.annotation.JsonValue;
import com.mybatisflex.annotation.EnumValue;
import com.solo.common.orm.base.enums.BasicDict;
import lombok.AllArgsConstructor;
import lombok.Getter;

/**
 * ${table.functionName}枚举类
 * @author $!{table.author}
 * @since ${now}
#if(${table.classTail})
 * ${table.classTail}
#end
 **/
@Getter
@AllArgsConstructor
public enum ${enumName} implements BasicDict<String> {

#foreach ($dict in $dicts)
    ${StringUtils.toUnderlineCase(${dict.value}).toUpperCase()}("${dict.value}", "${dict.label}")#if ($foreach.last);#else,#end
#end

    @EnumValue
    @JsonValue
    private final String value;
    private final String label;

}
