<template>
  <div class="main">
    <!-- 搜索工作栏 -->
    <el-form
      ref="queryFormRef"
      :inline="true"
      :model="props.queryParams"
      class="search-form bg-bg_color w-[99/100] pl-8 pt-[12px]"
    >
#foreach ($column in $columns)
  #if (${column.isQuery.getValue()})
    #set ($dict = $column.dictCode)
    #if ($column.FormType == 'INPUT')
      <el-form-item label="${column.javaComment}" prop="${column.javaField}">
        <el-input
          v-model="props.queryParams.${column.javaField}"
          placeholder="请输入${column.javaComment}"
          clearable
          class="!w-[180px]"
        />
      </el-form-item>
    #elseif(($column.FormType == 'SELECT' || $column.FormType == 'RADIO' || $column.FormType == 'SWITCH') && $dict)
      <el-form-item label="${column.javaComment}" prop="${column.javaField}">
        <el-select
          v-model="props.queryParams.${column.javaField}"
          placeholder="请选择${column.javaComment}"
          clearable
          class="!w-[180px]"
        >
          <el-option
            v-for="dict in ${dict}"
            :key="dict.value"
            :label="dict.label"
            :value="dict.value"
          />
        </el-select>
      </el-form-item>
    #end
  #end
#end
      <el-form-item>
        <el-tooltip content="搜索" placement="top">
          <el-button
            :icon="useRenderIcon('ep:search')"
            :loading="props.loading"
            @click="handleQuery"
            circle
          />
        </el-tooltip>
        <el-tooltip content="重置" placement="top">
          <el-button
            :icon="useRenderIcon('ep:refresh-right')"
            @click="handleReset()"
            circle
          />
        </el-tooltip>
      </el-form-item>
    </el-form>

    <!-- 列表 -->
    <PureTableBar
      :title="`${props.title}列表`"
      :columns="columns"
      @refresh="handleQuery"
    >
      <template #buttons>
        <el-button
          type="primary"
          :icon="useRenderIcon('ep:plus')"
          @click="handleCreate()"
          plain
        >
          新增
        </el-button>
        <el-button
          type="success"
          :icon="useRenderIcon('ep:edit-pen')"
          @click="handleUpdate()"
          :disabled="props.single"
          plain
        >
          编辑
        </el-button>
        <el-popconfirm
          width="180"
          icon-color="red"
          title="是否删除选中数据？"
          @confirm="handleDelete()"
        >
          <template #reference>
            <el-button
              type="danger"
              :icon="useRenderIcon('ep:delete')"
              :disabled="props.multiple"
              plain
            >
              删除
            </el-button>
          </template>
        </el-popconfirm>
        <el-button
          type="info"
          :icon="useRenderIcon('ep:upload')"
          @click="handleUpdate()"
          plain
        >
          导入
        </el-button>
        <el-button
          type="warning"
          :icon="useRenderIcon('ep:download')"
          @click="handleUpdate()"
          plain
        >
          导出
        </el-button>
      </template>
      <template v-slot="{ size, dynamicColumns }">
        <pure-table
          align-whole="center"
          showOverflowTooltip
          table-layout="auto"
          :loading="props.loading"
          :size="size"
          adaptive
          :data="props.dataList"
          :columns="dynamicColumns"
          :pagination="props.pagination"
          :paginationSmall="size === 'small' ? true : false"
          :header-cell-style="{
            background: 'var(--el-fill-color-light)',
            color: 'var(--el-text-color-primary)'
          }"
          @selection-change="handleSelectionChange"
          @page-size-change="handleSizeChange"
          @page-current-change="handleCurrentChange"
        >
          <template #operation="{ row }">
            <el-button
              class="reset-margin"
              link
              type="primary"
              :size="size"
              :icon="useRenderIcon('ep:edit-pen')"
              @click="handleUpdate(row.${primaryColumn.javaField})"
            >
              编辑
            </el-button>
            <el-popconfirm
              width="180"
              icon-color="red"
              title="是否删除选中数据？"
              @confirm="handleDelete(row.${primaryColumn.javaField})"
            >
              <template #reference>
                <el-button
                  class="reset-margin"
                  link
                  type="danger"
                  :size="size"
                  :icon="useRenderIcon('ep:delete')"
                >
                  删除
                </el-button>
              </template>
            </el-popconfirm>
          </template>
        </pure-table>
      </template>
    </PureTableBar>
  </div>
  <${modelClassName}Form ref="dialogFormRef" @refresh="loadData()" />
</template>

<script setup lang="tsx">
import { PureTableBar } from "@/components/RePureTableBar";
import { useRenderIcon } from "@/components/ReIcon/src/hooks";
import { BasicTableProps } from "@/hooks/table";
import { paging, deleting } from "@/api/${table.moduleName}/${table.businessName}";

defineOptions({ name: "${table.className}" });

const ${modelClassName}Form = defineAsyncComponent(() => import("./form.vue"));
const queryFormRef = ref();
const dialogFormRef = ref();

#if ($dictColumns.size() > 0)
const {
  #foreach ($column in $dictColumns)
  ${column.dictCode}#if ($foreach.last)#else,#end
  #end
} = useDict(
  #foreach ($column in $dictColumns)
  "${column.dictCode}"#if ($foreach.last)#else,#end
  #end
);
#end
const props: BasicTableProps = reactive<BasicTableProps>({
  title: "${table.tableComment}",
  pk: "${primaryColumn.javaField}",
  listApi: paging,
  deleteApi: deleting,
  queryRef: queryFormRef,
  formRef: dialogFormRef
});

const {
  loadData,
  handleSizeChange,
  handleCurrentChange,
  handleSelectionChange,
  handleQuery,
  handleReset,
  handleCreate,
  handleUpdate,
  handleDelete
} = useTable(props);

const columns: TableColumnList = [
  {
    type: "selection",
    align: "left",
    width: 10
  },
#foreach ($column in $columns)
  #if (${column.isList.getValue()})
  {
    label: "${column.javaComment}",
    prop: "${column.javaField}",
    minWidth: 120#if (${column.dictCode}),
    cellRenderer: scope => (
      <dict-tag options={${column.dictCode}.value} value={scope.row.${column.javaField}}></dict-tag>
    )#end
  },
  #end
#end
  {
    label: "操作",
    fixed: "right",
    width: 240,
    slot: "operation"
  }
];
</script>

<style scoped lang="scss">
:deep(.el-dropdown-menu__item i) {
  margin: 0;
}

.search-form {
  :deep(.el-form-item) {
    margin-bottom: 12px;
  }
}
</style>
