package ${table.packageName}.service;

import ${table.packageName}.api.entity.${table.className};
import com.solo.common.core.base.service.BasicService;

/**
 * ${table.functionName} Service
 * @author $!{table.author}
 * @since ${now}
#if(${table.classTail})
 * ${table.classTail}
#end
 **/
public interface ${table.className}Service extends BasicService<${table.className}> {

}
