package ${table.packageName}.service.impl;

import ${table.packageName}.api.entity.${table.className};
import ${table.packageName}.mapper.${table.className}Mapper;
import ${table.packageName}.service.${table.className}Service;
import com.solo.common.orm.base.service.impl.BasicServiceImpl;
import org.springframework.stereotype.Service;

/**
 * ${table.tableComment} Service实现类
 * @author $!{table.author}
 * @since ${now}
#if(${table.classTail})
 * ${table.classTail}
#end
 **/
@Service
public class ${table.className}ServiceImpl extends BasicServiceImpl<${table.className}Mapper, ${table.className}> implements ${table.className}Service {

}
