package ${table.packageName}.mapper;

import ${table.packageName}.api.entity.${table.className};
import com.solo.common.core.base.mapper.BasicMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${table.functionName} Mapper
 * @author $!{table.author}
 * @since ${now}
#if(${table.classTail})
 * ${table.classTail}
#end
 **/
@Mapper
public interface ${table.className}Mapper extends BasicMapper<${table.className}> {

}
