package ${table.packageName}.mapper;

import ${table.packageName}.api.entity.${table.className};
import com.solo.common.orm.base.mapper.BasicMapper;

/**
 * ${table.tableComment} Mapper
 * @author $!{table.author}
 * @since ${now}
#if(${table.classTail})
 * ${table.classTail}
#end
 **/
public interface ${table.className}Mapper extends BasicMapper<${table.className}> {

}
